info/
_minted/
figure/
cache/
*/practice/*.pdf
*/practice/*.html
*-tikzDictionary
*.tex_bibdigest
*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
